/* footer design */
.footer {
  background: #333 none repeat scroll 0% 0%;
  padding: 30px 0px;
  color: #CCC;

}

.footer p {
  margin-top: 17px;
}

.list-inline {
  padding-left: 0px;
  margin-left: -5px;
  list-style: outside none none;
}

.footer a{
  color: #CCC;
  font-size: 30px;
  letter-spacing: 20px;
}
